{% extends "home\base.html" %}
{% load staticfiles %}


{% block page_content %}
    <div class="col-sm-4">
        <img src="{% static "img\cabinet.png" %}" class="img-fluid" alt="Medium Voltage Drive">
    </div>

    <div class="col-sm-5">
        <p>ABOUT ASD</p>
<p>ASD is a motor/drive technology firm. 
ASD Inc is the North American selling channel for motor/drives of our own design and VFD's that are designed by others but which, in our opinion, are world class product.</p>
<br>
<p>Our Medium Voltage VFDs are designed and built by Rongxin Division of Wolong Electric, ASD's manufacturing partner in China. 
Our Low Volage VFDs are designed and built by the Motor Control Division of Wolong Electric. 
All of the SR motors and PMSM motors offered are designed by ASD and are built by the Nanyang Division of Wolong Electric.</p>
    </div>
{% endblock %}